[submodule "packages/custody/contracts/lib/forge-std"]
	path = packages/custody/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/custody/contracts/lib/openzeppelin-contracts"]
	path = packages/custody/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
